body{
    background-image: url(../games\ photo.avif);
    background-repeat: no-repeat;
    background-size: cover;

}
h1{
    text-align: center;
    font-size: 50px;
    color:black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul li a{
	text-decoration: none;

	color: white;
	padding:5px 20px ;
	border: 1px solid transparent;
	transition: 0.6s ease;

}

ul li a:hover{
	background-color: white;
	color: black;

}

.rps{
    margin-top: 25px;
}

.snake3D{
    margin-top: 30px;
}

