*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.title{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 100px;
}

.title h1{
	font-family:Georgia ;
}

.pic1 img{
	height: 400px;
	width: 300px;
	


}

.pic1data h1{
	font-size: small;
	padding-right: 70%;

}

.pic2 img{
	height: 400px;
	width: 300px;

