*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}



.title p{
	width: 700px;
	font-size: x-large;
	padding: 40px 600px;
	left: 200px;
	text-align: center;
	color: black;
	font-weight: bold;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title h1{
	
	color: yellowgreen;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container img{
	height: 250px;
    width: 250px;
    margin-left: 25px;
	margin-right: 100px;

}

.photo1 h1{
	color: brown;
	margin-left: 20px;
}
.photo2 h1{
	color: brown;
	margin-left: 20px;
}.photo3 h1{
	color: brown;
	margin-left: 20px;
}
.photo4 h1{
	color: brown;
	margin-left: 20px;
}
.photo5 h1{
	color: brown;
	margin-left: 20px;
}

.container li{
	list-style-type:lower-roman;
	margin-left: 30px;
}
